In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('bus_runtime_2000.csv')
data.head(5)

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
0,0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,제주대학교입구,06시,266.0,제대마을,33.457724,126.554014,24
1,1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,제대마을,06시,333.0,제대아파트,33.458783,126.557353,36
2,2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,제대아파트,06시,415.0,제주대학교,33.459893,126.561624,40
3,3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),33.484860,126.542928,42
4,4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,도호동,07시,374.0,은남동,33.485822,126.490897,64

In [3]:
# 1-1. data에서 date, now_station, now_arrive_time 열을 뽑음과 동시에 행을 처음부터 6개를 뽑아 df에 저장하고 csv파일로 내보내세요!

In [4]:
df1 = data[['date','now_station','now_arrive_time']].iloc[:6]
df1.to_csv("data_df1.csv", index=False)

In [5]:
# 1-2. 방금 내보낸 csv파일을 다시 읽어 df에 저장하세요!

In [6]:
df = pd.read_csv('data_df1.csv')
df

         date  now_station now_arrive_time
0  2019-10-15      제주대학교입구             06시
1  2019-10-15         제대마을             06시
2  2019-10-15        제대아파트             06시
3  2019-10-15    남국원(아라방면)             06시
4  2019-10-15          도호동             07시
5  2019-10-15  한라중학교/부영아파트             07시

In [7]:
# 1-3. df와 똑같은 데이터프레임을 dictionary를 활용해 만들어 df2에 할당해주세요. hint( values 를 활용하여 작성하시오.)

In [8]:
date = ['2019-10-15', '2019-10-15', '2019-10-15', '2019-10-15', '2019-10-15', '2019-10-15']
station = ['제주대학교입구', '제대마을', '제대아파트', '남국원(아라방면)', '도호동', '한라중학교/부영아파트']
time = ['06시', '06시', '06시', '06시', '07시', '07시']

In [9]:
my_dict = {'date':date, 'now_station':station, 'now_arrive_time':time}
df2 = pd.DataFrame(my_dict)
df2

         date  now_station now_arrive_time
0  2019-10-15      제주대학교입구             06시
1  2019-10-15         제대마을             06시
2  2019-10-15        제대아파트             06시
3  2019-10-15    남국원(아라방면)             06시
4  2019-10-15          도호동             07시
5  2019-10-15  한라중학교/부영아파트             07시

In [10]:
# 2. df2의 date열의 자료형을 datetime64로 바꿔주세요!

In [11]:
df2.astype({'date':'datetime64'}).dtypes

date               datetime64[ns]
now_station                object
now_arrive_time            object
dtype: object

In [12]:
# 3-1. df2에서 now_arrive_time의 빈도수가 가장 적은 값을 찾아 k 라는 변수에 할당해주세요! (한줄로 작성해주세요) 메소드 체이닝~

In [52]:
k = df2.now_arrive_time.value_counts(sort=True, ascending=True).index[0]

In [14]:
# 3-2. df2에서 now_arrive_time이 k인 행을 모두 뽑고 해당 데이터프레임에서 now_station의 값의 종류를 모두 보여라.
#(한줄로 작성해주세요)메소드 체이닝~ hint(query 사용!)

In [57]:
df2.query("now_arrive_time == @k")['now_station'].unique()

array(['도호동', '한라중학교/부영아파트'], dtype=object)